<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Boundaries 101 for Men</li>
          <li><a href="mailto:adronius@gmail.com">adronius@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="footer-social-list">
          <li><a href="https://youtube.com/@Boundaries101forMen" target="_blank">&#9654;&#65039; YouTube</a></li>
          <li><a href="https://open.spotify.com/show/2uoKNnuSgaH1G9shiOMIu8" target="_blank">&#127925; Spotify</a></li>
          <li><a href="https://music.amazon.com/podcasts/boundaries-101-for-men" target="_blank">&#127926; Amazon Music</a></li>
          <li><a href="{{ "/boundaries101-podcast/feed.xml" | relative_url }}">&#128226; RSS Feed</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>